
@{
    ViewBag.Title = "DierToevoegenKeuze";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kies je Dier</h2>

<a href="/Waarneming/CreateWaarnemingWithVogel" class="btn btn-sq-lg btn-primary">
    Vogel waargenomen<br />
</a>
<a href="/Waarneming/CreateWaarnemingWithZoogdier" class="btn btn-sq-lg btn-primary">
    Zoogdier waargenomen<br />
</a>