
@{
    ViewBag.Title = "DierKeuze";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kies je Dier</h2>

<a href="/Dier/VogelIndex" class="btn btn-sq-lg btn-primary">
    Vogels<br />
</a>
<a href="/Dier/ZoogdierIndex" class="btn btn-sq-lg btn-primary">
    Zoogdieren<br />
</a>