@model Models.Models.Account

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welkom</h2>

<a href="/Gebied/Index" class="btn btn-sq-lg btn-primary">
    Gebied gegevens<br />
</a>
<a href="/Admin/AlleProjecten" class="btn btn-sq-lg btn-primary">
    Dieren<br />
</a>
<a href="/Admin/AlleMedewerkers" class="btn btn-sq-lg btn-primary">
    Bezoeken<br />
</a>
<a href="/Salarisregistrant/Factuur" class="btn btn-sq-lg btn-primary">
    Waarnemingen<br />
</a>